# Project Part #7 : CPSMA 3913 Dr. Jacob's Discrete Mathematics
## Logic
### Trevin Madron #237379

For this project, I'll be using the current predominant V8 engine's from the Big Three (Ford, Chevrolet, and Chrysler) and comparing the base architectures of their engines


*   (P) Ford - 5.0L Coyote, Dual-Overhead Cam (DOHC) V8
*   (Q) Chevy - 6.2L LT1, Cam-in-Block Pushrod V8
*   (R) Chrysler - 6.4L Hemi, Cam-in-Block Pushrod V8


Some of these terms are probably unfamilar to most, but in essense it is the placement of the camshaft(s) within an engine. You don't need to know the "what" or "why" though, just know that Chevy and Chrysler both use the same Cam-in-Block architecture while Ford does not.

Going off of that, I'll set up truths from the statement "Engines that utilize Cam-in-Block architecture."

In [1]:
Coyote = False
LT1 = True
Hemi = True

We'll start off with  **R∧P**, which can be stated as "Chrysler's 6.4L Hemi and Ford's 5.0L Coyote utilize Cam-in-Block architecture."

In [2]:
Hemi and Coyote

False

Now we can do **R∨¬Q**, or "Chrysler's Hemi or NOT Chevy's LT1 utilize a Cam-in-Block architecture. Quite a confusing sentence to read for sure.

In [3]:
Hemi or not(LT1)

True

not(LT1) returns false, but since Hemi returns true, this truth statement returns true.

Now we can find **R⇒P**, which means "If Chrysler's Hemi is a Cam-in-Block engine, Ford's Coyote must be a Cam-in-Block as well." We can substitute **R⇒P** as **¬R∨P** since these are equivalent statements.

In [5]:
not(Hemi) or Coyote

False

Now to build a few truth tables.

In [8]:
!pip install truth-table-generator
import ttg

Collecting truth-table-generator
  Downloading truth_table_generator-1.1.2.tar.gz (14 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (1.21.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (1.3.5)
Collecting PTable
  Downloading PTable-0.9.2.tar.gz (31 kB)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (3.0.7)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (0.8.9)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->truth-table-generator) (2.0.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->truth-table-generator) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->truth-table-generator) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->truth-table-generator) (1.15.0)
Building wheels for collected packages: truth-table-generator, PTable
  Building wheel for truth-table-generator (setup.py) ... done
  Created wheel for truth-table-generator: filename=truth_table_generator-1.1.2-py3-none-any.whl size=13960 sha256=f8579b3b4c452b8585c08cc26ff184dacbc5c801bc4687d20c307e76e5619b03
  Stored in directory: /root/.cache/pip/wheels/9a/55/b5/77f5756832494eafda92c7a94c1365ac31088a18a3a97dd480
  Building wheel for PTable (setup.py) ... done
  Created wheel for PTable: filename=PTable-0.9.2-py3-none-any.whl size=22925 sha256=7bc011cb0e4cedd20506ee5effa31a757d427cb643606b5769b77d59f5093940
  Stored in directory: /root/.cache/pip/wheels/33/df/2f/674985b3f8a2de3f96357d1eadef5110f74fa91b3785e52a54
Successfully built truth-table-generator PTable
Installing collected packages: PTable, truth-table-generator
Successfully installed PTable-0.9.2 truth-table-generator-1.1.2

Now that we got everything imported, here's a truth table for  **¬(r⊕p)⇒(p∨q)**.

NOT (ONLY Chrysler's Hemi or Ford's Coyote is a cam-in-block engine) implies that either Ford's Coyote or Chevy's LT1 is a cam-in-block engine. I'm not the best at putting truth statements into words as you can tell, but the truth table is below.

In [14]:
truthtable = ttg.Truths(['p', 'q', 'r'], ['r xor p', '~(r xor p)', 'p or q', '(~(r xor p)) => (p or q)'], ints = False)
truthtable.as_pandas().style.set_properties(**{'text-align': 'center'}).hide_index()

As can be seen, for our example (P = False, Q = True, and R = True) the result of this truth statement returns True.